/*
Amplitude Envelope Demo

Small audio/visual demo of Amplitude Envelopes
MAPLE Lab, McMaster


Written by Kyle Gauder
Git Repo: https://github.com/gauderkd/AmpEnvelopeDemo
CSS*/
#AmpEnvVisualizer {
    position: relative;
    height: 300px;
}

#AEContent {
    position: relative;
}

#AEBack {
    background: #d3d3d3;
    position: absolute;
    z-index: 1;
    left: 10px;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 3px 3px 15px #000;
}

#AETitle {
    position: absolute;
    left: 30px;
    text-align: left;
    width: 600px;
    top: 20px;
    z-index: 3;
    font-weight: 700 !important;
    font-size: 200% !important;
}

.button {
    float: left;
    margin: 3px;
    padding: 0;
    border-radius: 5px;
    height: 125px;
    width: 125px;
    position: absolute;
    cursor: pointer;
    background-size: 125px 125px;
    z-index: 15;
    box-shadow: 2px 2px 7px #555;
    opacity: 0.7;
    background-repeat: no-repeat;
}

#AEButtons {
    position: absolute;
    top: 70px;
    left: 45px;
}

.percBut {
    left: 0px;
    background-image: url("https://www.maplelab.net/tools/AmpEnvelopeDemo/elements/Perc.png");
}

.revBut {
    left: 300px;
    background-image: url("https://www.maplelab.net/tools/AmpEnvelopeDemo/elements/Rev.png");
}

.flatBut {
    left: 150px;
    background-image: url("https://www.maplelab.net/tools/AmpEnvelopeDemo/elements/Flat.png");
}

#audioButtonContainer {
    left: 450px;
    top: 240px;
    z-index: 15;
    position: absolute;
}

.playpauseDisplay {
    float: left;
    margin: 3px;
    padding: 0;
    height: 50px;
    width: 50px;
    position: absolute;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.6;
    background-repeat: no-repeat;
}

.playDisplay {
    background-image: url("https://www.maplelab.net/tools/AmpEnvelopeDemo/elements/playDisplay.png");
    display: none;
}

.pauseDisplay {
    background-image: url("https://www.maplelab.net/tools/AmpEnvelopeDemo/elements/pauseDisplay.png");
    display: block;
}

.descript {
    display: none;
    position: absolute;
    z-index: 5;
    top: 210px;
    left: 30px;
    font-weight: 500 !important;
    font-size: 120% !important;
}

.descript2 {
    display: none;
    position: absolute;
    z-index: 5;
    top: 240px;
    left: 40px;
    width: 400px;
    font-weight: 400 !important;
    font-size: 100% !important;
}
